body {
  background: #ffffff;
  font-family: sans-serif;
  color: #181818;
  margin: auto;
  width: 100%;
}
body .bloc_page {
  width: 100%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
}

p {
  color: #353535;
  margin: 0;
}

h2 {
  padding-left: 1em;
}

h3 {
  margin-top: 0.4em;
  margin-bottom: 0.3em;
}

.titre_principal {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.titre_principal .logo img {
  width: 50%;
}
.titre_principal .logo {
  display: flex;
  justify-content: space-around;
}

.position {
  background-color: #eaeaea;
  box-shadow: inset 0.5em 1em 0.5em -0.75em #a7a7a7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.fa-map-marker-alt {
  padding-right: 1em;
}

.reservation {
  font-size: 1.2em;
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.btn_explor {
  border-radius: 2em;
  background-color: blueviolet;
  width: 70%;
  color: #ffffff;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.btn {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 5px #c2c1c1;
  margin-left: 1em;
}
.btn__bloc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1em;
  background-color: #f6f6f6;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  text-align: center;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  box-shadow: 0.2em 0.2em 0.5em #b0aeae;
}
.btn__number-ol {
  border-radius: 40px;
  background-color: #9356dc;
  color: #ffffff;
  border-top: 0.5em solid #9356dc;
  border-bottom: 0.5em solid #9356dc;
  border-right: 0.8em solid #9356dc;
  border-left: 0.8em solid #9356dc;
  margin-left: -15px;
}

.fa-mobile-alt,
.fa-list-ul,
.fa-store {
  color: #8f8c8c;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.section_resto {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vignette {
  width: 90%;
  height: 250px;
  box-shadow: 0.2em 0.2em 0.5em #b0aeae;
  margin-bottom: 2em;
  background-color: #ffffff;
  border-radius: 1em;
}

.picture_vignette {
  border-radius: 14px 14px 0 0;
  height: 175px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
}

.vignette__info_resto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nom_resto {
  padding-left: 0.7em;
  margin: 0;
}

.coeur_resto {
  padding-right: 0.7em;
  font-size: 2em;
}

footer {
  background-color: #353535;
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding-left: 1em;
  line-height: 1.6em;
}

.titre_footer {
  font-family: "Shrikhand", cursive;
  font-size: 1.3em;
  padding-left: 1em;
  padding-top: 1em;
}

.fa-utensils {
  padding-right: 1em;
}

.fa-hands-helping {
  padding-right: 0.6em;
}

/*# sourceMappingURL=style.css.map */
