@import "utils/variables.scss";
@import "utils/functions.scss";
@import "utils/mixins.scss";
@import "layouts/header.scss";
@import "layouts/footer.scss";
@import "layouts/sections_restaurants.scss";

body {
  font-family: sans-serif;
  color: #181818;
  margin: auto;
  width: 100%;
  .bloc_page {
    width: 100%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
  }
}

p {
  color: $primary;
  margin: 0;
}

h1 {
  font-size: 1.5em;
}

h2 {
  padding-left: 1em;
}

h3 {
  margin-top: 0.4em;
  margin-bottom: 0.3em;
}

.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 15px;
  position: relative;
}

.loader_spinner {
  position: absolute;
  background-color: rgba(235, 222, 240, 0.9);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9e59dc;
  font-size: 2em;
  animation-name: fadeInOut;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 100%;
  }
  75% {
    opacity: 99%;
  }
  100% {
    opacity: 0%;
  }
}

.load-spin {
  border-radius: 50px;
  &::after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border: 10px solid transparent;
    border-radius: 50px;
    border-top-color: #9e59dc;
    border-right-color: #9e59dc;
    border-left-color: #9e59dc;
    border-bottom-color: transparent;
    animation: spin 1s linear 0s infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  17% {
    transform: rotate(22deg);
  }
  24% {
    transform: rotate(86deg);
  }
  46% {
    transform: rotate(175deg);
  }
  85% {
    transform: rotate(286deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.position {
  background-color: #eaeaea;
  box-shadow: inset 0.5em 1em 0.5em -0.75em rgb(167, 167, 167);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.fa-map-marker-alt {
  padding-right: 1em;
}

.reservation {
  font-size: 1.2em;
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
  background-color: $color_btn;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.btn_explor {
  border-radius: 2em;
  background: linear-gradient(175deg, #f184dc, #9e59dc);
  width: 70%;
  color: #ffffff;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.btn {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 5px rgb(194, 193, 193);
  margin-left: 1em;
  &__bloc {
    &:hover {
      .fas {
        color: #9356dc;
      }
      opacity: 1;
      background-color: #f5edff;
    }
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1em;
    background-color: $color_btn;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    text-align: center;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    box-shadow: 0.2em 0.2em 0.5em rgb(176, 174, 174);
  }
  &__number-ol {
    border-radius: 40px;
    background-color: #9356dc;
    color: #ffffff;
    border-top: 0.5em solid #9356dc;
    border-bottom: 0.5em solid #9356dc;
    border-right: 0.8em solid #9356dc;
    border-left: 0.8em solid #9356dc;
    margin-left: -15px;
  }
}

.fa-mobile-alt,
.fa-list-ul,
.fa-store {
  color: rgb(143, 140, 140);
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.section_resto {
  background-color: $color_btn;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vignette {
  width: 90%;
  height: 250px;
  box-shadow: 0.2em 0.2em 0.5em rgb(176, 174, 174);
  margin-bottom: 2em;
  background-color: #ffffff;
  border-radius: 1em;
}

.picture_vignette {
  border-radius: 14px 14px 0 0;
  height: 175px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
}

.vignette__info_resto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nom_resto {
  padding-left: 0.7em;
  margin: 0;
}

.coeur_resto {
  padding-right: 0.7em;
  font-size: 2em;
}

.link_resto {
  text-decoration: none;
  color: #181818;
}

.titre_menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
