footer {
  background-color: #353535;
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding-left: 1em;
  line-height: 1.6em;
}

.titre_footer {
  font-family: "Shrikhand", cursive;
  font-size: 1.3em;
  padding-left: 1em;
  padding-top: 1em;
}

.fa-utensils {
  padding-right: 1em;
}

.fa-hands-helping {
  padding-right: 0.6em;
}
